@import '../../element-variables.scss';
@import './mixin.scss';
@import './size.scss';

// sidebar
$menuText: #ebf0fe;
$menuActiveText: #478dff;
$subMenuActiveText: #f4f4f5;

$menuBg: rgba(213, 28%, 26%, 0);
$menuHover: rgba(220, 38, 38, 0);

$subMenuBg: #07142e;
$subMenuHover: rgba(220, 38, 38, 0);

$sideBarWidth: 173px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
