.panel-container {
  margin-bottom: 20px;

  .item-head {
    font-size: 14px;
    font-family: Source Han Sans CN;
    color: #333333;
    line-height: 18px;
    margin: 10px 0;
    font-weight: 600;

    &::before {
      content: '';
      display: inline-block;
      width: 3px;
      height: 12px;
      background: #2a77f7;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .op-box {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    .item-close {
      cursor: pointer;

      &:hover {
        color: #f40;
      }
    }
  }

  .result-box {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    .result-description {
      width: 100%;
      height: 64px;
      background: #f6f6f6;
      border-radius: 4px;

      >div {
        width: 100%;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
      }

      .result-title {
        font-weight: 600;
      }
    }
  }

  .table-chart {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    .item-head {
      font-weight: 600;
    }

    .chart-container {
      width: 100%;
      height: 300px;
    }

    .table-container {

      >>>.el-table td,
      >>>.el-table th {
        padding: 6px 0 !important;
      }

      >>>.el-table {
        .cell .el-table__expand-icon {
          display: none;
        }

        .el-button {
          padding: 0 !important;
        }

        .chart-box {
          width: 100%;
          height: 300px;
          background-color: #f7fcff;
        }
      }
    }
  }
}
